* {
      padding: 0px;
      margin: 0px;
      box-sizing: border-box;
}

body {
      background-color: hsl(148, 38%, 91%);
      font-family: Karla, Arial, Helvetica, sans-serif;
}

main {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
}

.contact-form {
      background-color: white;
      padding: 2.5rem;
      width: 50%;
}


/* FOOTER */
.attribution {
      font-size: 11px;
      text-align: center;
}

.attribution a {
      color: hsl(228, 45%, 44%);
}