* {
      padding: 0px;
      margin: 0px;
      box-sizing: border-box;
}

body {
      background-color: hsl(148, 38%, 91%);
      font-family: Karla, Arial, Helvetica, sans-serif;
}

main {
      padding: 8rem 0rem;
      display: flex;
      justify-content: center;
      align-items: center;
}

.contact-form {
      background-color: white;
      border-radius: 1rem;
      padding: 2.5rem;
      width: 46rem;
      /* height: 48.3rem; */
}

.form-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 1rem;
}

.email-section{
      grid-column: 1/ span 2;
}


#emailAddress{
      width: 100%;
}

.error-message {
      display: block;
      grid-column: 1/ span 2;
}
.query-title {
      grid-column: 1/ span 2;
}

.query-type {
      display: flex;
}

.message-section {
      grid-column: 1/ span 2;
}
#contact-message{
      width: 100%;
}

.submit-btn{
      width: 100%;
}

/* FOOTER */
.attribution {
      font-size: 11px;
      text-align: center;
}

.attribution a {
      color: hsl(228, 45%, 44%);
}